* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    border: 5px solid rgb(113, 238, 113);
    padding: 20px;
    font-family: Roboto, serif;
}

header {
    text-align: center;
    clear: both;
}

.center-text {
    text-align: center;
    margin: 20px 0;
}

img {
    height: 300px;
    border: 20%;
    float: right;
}

footer {
    text-align: center;
    clear: both;
}

footer h3 {
    display: inline-block;
    margin: 0 10px;
    color: green;
}