body {
    background-color: aqua;
    border: 10px solid lightseagreen;
}

span {
    display: flex;
    align-content: center;
}

img {
    width: 200px;
    flex: end;
}

footer {
    display: grid;
    align-items: center;
    color: green;
}